body,
html {
  margin: 0;
  padding: 0;
  background-color: #f7f7f7;
}

.h3,
h3 {
  font-size: 1.4rem;
}

li {
  display: inline-block;
  list-style-type: none;
}

.jumbotron {
  margin-bottom: 1rem;
}

.content {
  max-width: 800px;
}
